extends ../layout

block content

    .d-flex.justify-content-between.align-items-center.mb-4
        h2 Department Master

        a.btn.btn-primary(href="/departments/add")
            | Add Department

    if success && success.length
        .alert.alert-success
            = success

    if error && error.length
        .alert.alert-danger
            = error

    .card
        .card-body

            .table-responsive

                table.table.table-bordered.table-striped.data-table
                    thead.table-dark
                        tr
                            th Department Code
                            th Department Name
                            th Description
                            th Status
                            th Actions

                    tbody

                        each department in departments

                            tr
                                td= department.department_code

                                td= department.department_name || '-'

                                td= department.description || '-'

                                
                                td
                                    if department.is_active
                                        span.badge.bg-success Active
                                    else
                                        span.badge.bg-danger Inactive

                                td
                                    a.btn.btn-sm.btn-info.me-1(
                                        href=`/departments/${department.department_id}`
                                    )
                                        | View

                                    a.btn.btn-sm.btn-warning.me-1(
                                        href=`/departments/${department.department_id}/edit`
                                    )
                                        | Edit

                                    form.d-inline(
                                        action=`/departments/${department.department_id}/delete`
                                        method="POST"
                                        onsubmit="return confirm('Delete this Department?')"
                                    )
                                        button.btn.btn-sm.btn-danger(
                                            type="submit"
                                        )
                                            | Delete