extends ../layout

block content

    .d-flex.justify-content-between.align-items-center.mb-4

        h2 Scrap Asset

        a.btn.btn-secondary(href="/assets")
            | Back


    .card

        .card-body

            form(
                action="/assets/scrap"
                method="POST"
            )

                .row


                    .col-md-6.mb-3

                        label.form-label Asset

                        select.form-select(
                            name="asset_id"
                            required
                        )

                            option(value="")
                                | Select Asset

                            each asset in assets

                                option(
                                    value=asset.asset_id
                                )
                                    = asset.asset_code + ' - ' + asset.asset_name


                    .col-md-6.mb-3

                        label.form-label Scrap Date

                        input.form-control(
                            type="date"
                            name="scrap_date"
                            required
                        )


                    .col-md-6.mb-3

                        label.form-label Scrap Reason

                        input.form-control(
                            type="text"
                            name="scrap_reason"
                            required
                        )


                    .col-md-6.mb-3

                        label.form-label Scrap Value

                        input.form-control(
                            type="number"
                            step="0.01"
                            name="scrap_value"
                        )


                    .col-md-12.mb-3

                        label.form-label Remarks

                        textarea.form-control(
                            name="remarks"
                            rows="3"
                        )


                button.btn.btn-danger(
                    type="submit"
                )
                    | Scrap Asset