extends ../layout

block content

    .d-flex.justify-content-between.align-items-center.mb-4
        h2 Branch Details

        a.btn.btn-secondary(href="/branches")
            | Back

    .card
        .card-body

            table.table.table-bordered

                tr
                    th Branch Code
                    td= branch.branch_code

                tr
                    th Branch Name
                    td= branch.branch_name

                tr
                    th Address
                    td= branch.address || '-'

                tr
                    th City
                    td= branch.city || '-'

                tr
                    th State
                    td= branch.state || '-'

                tr
                    th Country
                    td= branch.country || '-'
				
                tr
                    th Status
                    td
                        if branch.is_active
                            span.badge.bg-success Active
                        else
                            span.badge.bg-danger Inactive