extends ../layout

block content

    .d-flex.justify-content-between.align-items-center.mb-4
        h2 Branch Master

        a.btn.btn-primary(href="/branches/add")
            | Add Branch

    if success && success.length
        .alert.alert-success
            = success

    if error && error.length
        .alert.alert-danger
            = error

    .card
        .card-body

            .table-responsive

                table.table.table-bordered.table-striped.data-table
                    thead.table-dark
                        tr
                            th Branch Code
                            th Branch Name
                            th Address
                            th City
                            th State
                            th Country
                            th Status
                            th Actions

                    tbody

                        each branch in branches

                            tr
                                td= branch.branch_code

                                td= branch.branch_name || '-'

                                td= branch.address || '-'

                                td= branch.city || '-'

                                td= branch.state || '-'

                                td= branch.country || '-'

                                td
                                    if branch.is_active
                                        span.badge.bg-success Active
                                    else
                                        span.badge.bg-danger Inactive

                                td
                                    a.btn.btn-sm.btn-info.me-1(
                                        href=`/branches/${branch.branch_id}`
                                    )
                                        | View

                                    a.btn.btn-sm.btn-warning.me-1(
                                        href=`/branches/${branch.branch_id}/edit`
                                    )
                                        | Edit

                                    form.d-inline(
                                        action=`/branches/${branch.branch_id}/delete`
                                        method="POST"
                                        onsubmit="return confirm('Delete this Branch?')"
                                    )
                                        button.btn.btn-sm.btn-danger(
                                            type="submit"
                                        )
                                            | Delete